
/cheeseria/.vs
/cheeseria/cheeseria.client/node_modules
/cheeseria/cheeseria.client/obj
/cheeseria/cheeseria.Server/bin
/cheeseria/cheeseria.Server/obj
cheeseria/cheeseria.client/package-lock.json
/cheeseria/obj
/cheeseria/bin
cheeseria/cheeseria.client/package-lock.json
/cheeseria/.cr
